<%
function createSubsections(docs) {
  var subsections = [];

  docs.forEach(function(section) {
    var children = section.children;

    section.subsections = [];

    children.forEach(function(child, index, array) {
      var subsection,
          subsectionExists;

      if (!child.subsection) {
        return;
      }

      subsectionExists = section.subsections.filter(function(sub) {
        return sub.title === child.subsection;
      });

      if (subsectionExists.length) {
        subsection = subsectionExists[0];
      } else {
        subsection = {
          title    : child.subsection,
          children : []
        };

        section.subsections.push(subsection);
        subsection.parent = section;
        subsection.name = section.name + '_' + subsection.title.replace(/\s+/g, '-').replace(/[^A-z0-9_-]/g, '').toLowerCase();
      }

      subsection.children.push(child);
    });
  });

  return docs;
}

var docs = createSubsections(list);
%>

<!doctype html>
<head>
  <title><%- opts.title || themeopts.title %></title>
  <meta charset="utf-8" />

  <link href="stylesheets/normalize.css" type="text/css" rel="stylesheet" />
  <link href="stylesheets/nouislider.css" type="text/css" rel="stylesheet" />
  <link href="stylesheets/spectrum-1.7.1.css" type="text/css" rel="stylesheet" />
  <link href="stylesheets/tooltip-theme-arrows.css" type="text/css" rel="stylesheet" />
  <link href="stylesheets/icons.css" type="text/css" rel="stylesheet" />
  <link href="stylesheets/chimera.css" type="text/css" rel="stylesheet" />
  <link href="stylesheets/jquery.magnific-popup.css" type="text/css" rel="stylesheet" />

  <link href="file:///Users/brendanlacroix/repos/mdcss-theme-animoto/assets/prism.css" type="text/css" rel="stylesheet" />
  <link href="file:///Users/brendanlacroix/repos/mdcss-theme-animoto/assets/animoto.css" type="text/css" rel="stylesheet" />

  <script>examples=<%- JSON.stringify(opts.examples) %>;</script>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="file:///Users/brendanlacroix/repos/mdcss-theme-animoto/assets/prism.js"></script>
  <script type="text/javascript" src="file:///Users/brendanlacroix/repos/mdcss-theme-animoto/assets/examples.js"></script>
  <script type="text/javascript" src="file:///Users/brendanlacroix/repos/mdcss-theme-animoto/assets/script.js"></script>
</head>
<body class="pattern-library">
  <header class="global-header pattern-library-header">
    <nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-4 plh-header-height plh-logo-wrapper">
            <a href="/" class="pl-hide-text plh-header-height plh-logo" style="background-image: url('<%- opts.logo || themeopts.logo %>');"><%- opts.title || themeopts.title %></a>
          </div>

          <div class="col-sm-12 col-md-8">
            <% function renderNavSections(sections) { %>
              <ul class="list-style-none body-text-sm label plh-navigation">
                <% sections.forEach(function (section, index, array) {
                  if (section.name) { %>
                    <li data-section="js-<%- section.name %>" class="js-sectionNav ix-wrapper plh-header-height plh-nav-item <% if (array.indexOf(section) === 0) { %> is-selected <% } %>">
                      <a href="#<%- section.name %>" class="link-inverted u-vertical-center-container"><%- section.title %></a>
                      <div class="plh-selected-border plh-header-height"></div>
                    </li>
                  <% }
                }); %>
              </ul>
            <% } %>

            <% renderNavSections(docs) %>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="plh-placeholder plh-header-height"></div>

  <div class="container">
    <% function renderSections(docs) {
      docs.forEach(function(section, index, array) { %>
        <div class="js-<%- section.name %> js-section row <% if (array.indexOf(section) !== 0) { %> is-hidden <% } %>" id="<%- section.name %>">
          <nav class="col-sm-2 hide-when-sm">
            <ul class="nav-sidebar-list list-style-none grey-links label body-text-sm">
              <% function renderNavSubsections(subsections) {
                  subsections.forEach(function(subsection, index, array) { %>
                  <li class="ix-wrapper"><span class="icon-right-primary icon-small <% if (array.indexOf(subsection) !== 0) { %> is-invisible<% } %>"></span><a href="#<%-subsection.name%>"><%- subsection.title %></a></li>
                <% });
              } %>
              <% renderNavSubsections(section.subsections) %>
            </ul>
            &nbsp; <!-- Preserves spacing (.nav-sidebar-list is fixed) -->
          </nav>
          <main class="pl-main col-sm-12 col-md-9">
            <% function renderSubsections(subsections) {
              subsections.forEach(function(subsection) { %>
                <div id="<%- subsection.name %>" class="dashboard-section">
                  <div class="header body-text-sm label no-margin-bottom">
                    <%- subsection.title %>
                  </div>
                  <% function renderChildren(children) {
                    children.forEach(function(child) {
                      if (child.nocontainer) { %>
                        <%- child.content %>
                      <% } else { %>
                        <div class="panel">
                          <h4><%- child.title %></h4>
                          <%- child.content %>
                        </div>
                      <% } %>
                    <% }); %>
                  <% } %>
                  <% renderChildren(subsection.children) %>
                </div>
              <% }); %>
            <% } %>
            <% renderSubsections(section.subsections) %>
          </main>
        </div>
      <% }); %>
    <% } %>
    <% renderSections(docs); %>
  </div>

  <script>
  $('.js-sectionNav').bind('click', function(e) {
    e.preventDefault();

    var $target           = $(e.currentTarget),
        currentSection    = $target.data('section'),
        $sectionContainer = $('.' + currentSection);

    $('.js-section').addClass('is-hidden');
    $('.js-sectionNav').removeClass('is-selected');

    $sectionContainer.removeClass('is-hidden');
    $target.addClass('is-selected');
  });
  </script>
</body>
